.menu-parent {
  position: fixed;
  z-index: 0;
  overflow: hidden;
}

.menu-shadow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(235, 222, 222, 0.5);

  /* opacity: 50%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
  z-index: 0;
}

.menu-bottom {
  font-size: xx-small;
  text-align: center;
  padding-bottom: 10px;
  color: #dc7384;
  font-family: Quicksand;
}

.menu-card {
  width: 75vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 5;
  box-shadow: -3px 0px 10px rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.menu-links {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
  margin-left: 18px;
  font-size: large;
  font-family: Lovelace;
  letter-spacing: 3px;
  border-bottom: 1px solid #504333;
  color: #804844;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.sm-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  padding-top: 20px;
  width: 100%;
}

.link-1 {
  padding: 0px 15px 15px 5px;
}
.link-1:hover {
  text-decoration: underline;
  color: #e8536c;
  opacity: 70%;
}

.link-2 {
  padding: 0px 15px 15px 5px;
}
.link-2:hover {
  text-decoration: underline;
  color: #e8536c;
  opacity: 70%;
}
.link-3 {
  padding: 0px 15px 15px 5px;
}
.link-3:hover {
  text-decoration: underline;
  color: #e8536c;
  opacity: 70%;
}
.link-4 {
  padding: 0px 15px 15px 5px;
}
.link-4:hover {
  text-decoration: underline;
  color: #e8536c;
  opacity: 70%;
}

.linky {
  filter: invert(22%) sepia(39%) saturate(380%) hue-rotate(353deg)
    brightness(96%) contrast(85%);
}

.linky:hover {
  filter: invert(45%) sepia(77%) saturate(4167%) hue-rotate(327deg)
    brightness(111%) contrast(82%);
}

#slide {
  position: absolute;
  right: -100vw;

  -webkit-animation: slide 0.2s forwards;
  -webkit-animation-delay: 0.2s;
  animation: slide 0.3s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
