.pill-def {
  border-radius: 20px;
  font-size: 12px;
  background-color: #f7f1f0;
  /* width: 25px; */
  margin: auto;
  padding: 1px 10px;
  display: inline-block;
  margin: 5px;
  font-family: Quicksand;
  color: #8c5551;
  border: 1px solid #8c5551;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}
.pill-def:hover {
  border: 1px solid #e7c6bc;
  color: #e7c6bc;
}

.pill-ongoing {
  border-radius: 20px;
  font-size: 14px;

  /* width: 25px; */
  margin: auto;
  padding: 1px 10px;
  display: inline-block;
  margin: 5px;
  color: #504333;

  background-color: #faa72c;
  border: 1px solid #867306;
  @media screen and (max-width: 480px) {
    font-size: small;
  }
}
.pill-maintain {
  border-radius: 20px;
  font-size: 14px;

  /* width: 25px; */
  margin: auto;
  padding: 1px 10px;
  display: inline-block;
  margin: 5px;
  color: #504333;
  background-color: #f8ded7;
  border: 1px solid #867306;
  @media screen and (max-width: 480px) {
    font-size: small;
  }
}
.pill-deployed {
  border-radius: 20px;
  font-size: 14px;

  /* width: 25px; */
  margin: auto;
  padding: 1px 10px;
  display: inline-block;
  margin: 5px;
  color: #504333;

  background-color: #b0dd86;
  border: 1px solid #0f2b02;
  @media screen and (max-width: 480px) {
    font-size: small;
  }
}
