.template-parent-m {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.top-template-m {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.img-m {
  width: 330px;
  height: 190px;
  background-color: #f7f1f0;
  margin-right: 5%;
}

.desc-1-m {
  max-width: 300px;
  height: auto;
  position: relative;
  z-index: 1;
  background-color: #dc7384;
  border-radius: 10px;
  padding: 10px;
  font-family: Quicksand;
  margin-left: 10%;
  color: #f7f5f0;
  letter-spacing: 0.4px;
  font-size: 15px;
  @media screen and (max-width: 360px) {
    max-width: 280px;
    margin-left: 8%;
    font-size: 14px;
  }
}
.desc-2-m {
  max-width: 300px;
  height: auto;
  position: relative;
  z-index: 1;
  background-color: #f8bebb;
  border-radius: 10px;
  padding: 10px;
  font-family: Quicksand;

  margin-left: 10%;
  color: #504333;
  letter-spacing: 0.4px;
  font-size: 15px;
  @media screen and (max-width: 360px) {
    max-width: 280px;
    margin-left: 8%;
    font-size: 14px;
  }
}

.side-text-m {
  /* margin-left: 10px; */
  font-family: Quicksand;

  font-size: medium;
  letter-spacing: 0.8px;
  /* width: 400px; */
  padding-bottom: 15px;
  color: #504333;
  @media screen and (max-width: 360px) {
    font-size: 15px;
  }
}

.side-title-m {
  font-family: Lovelace;
  font-size: x-large;
  letter-spacing: 1.8px;
  color: #804844;

  padding-bottom: 8px;
}

.m-link {
  color: #dc7384;
}

.m-link:hover {
  color: #dc7384;
  opacity: 70%;
  text-decoration: underline;
}

.pill-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  width: 400px;
  /* margin-top: 10px; */
  padding: 10px;
}
