.portfolio-container {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-bottom: 100px;
  @media screen and (max-width: 480px) {
    padding-bottom: 20px;
  }
  @media screen and (max-width: 360px) {
    padding-bottom: 100px;
  }
}

.portfolio-title {
  font-size: xxx-large;
  font-family: Quicksand;
  letter-spacing: 4px;
  color: #804844;
  margin-top: 14vh;
  text-align: center;
  @media screen and (max-width: 480px) {
    margin-top: 12vh;
    font-size: xx-large;
  }
}

.see-more {
  font-size: 20px;
  margin: auto;
  font-family: Quicksand;
  @media screen and (max-width: 480px) {
    font-size: large;
  }
}
.see-more:hover {
  /* text-decoration: underline; */
  color: #e8536c;
  opacity: 70%;
  @media screen and (max-width: 480px) {
    font-size: large;
  }
}
