.template-parent {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 50px;
  margin-bottom: 70px;
}

.top-template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  margin-right: 5%;
}

.bottom-template {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  align-items: flex-start;
  align-content: stretch;
}

.pill-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  width: 400px;
  margin-top: 8px;
  padding: 10px;
}

.img {
  width: 520px;
  height: 270px;
  background-color: white;

  margin-right: 10px;
}

.desc-1 {
  width: 580px;
  height: auto;
  position: relative;
  z-index: 1;
  background-color: #dc7384;
  border-radius: 10px;
  padding: 12px;
  margin-top: -2%;
  /* margin-left: 25%; */
  color: #f7f5f0;
  letter-spacing: 0.4px;
  font-size: large;
  font-family: Quicksand;
  @media screen and (max-width: 1366px) {
    width: 520px;
    height: auto;
    position: relative;
    z-index: 1;
    background-color: #dc7384;
    border-radius: 10px;
    padding: 12px;
    margin-top: -5%;
    /* margin-left: 35%; */
    color: #f7f5f0;
    letter-spacing: 0.4px;
    font-size: medium;
  }
}
.desc-2 {
  width: 580px;
  height: auto;
  position: relative;
  z-index: 1;
  background-color: #f8bebb;
  border-radius: 10px;
  padding: 12px;
  margin-top: -2%;
  /* margin-left: 25%; */
  letter-spacing: 0.4px;
  font-size: large;
  font-family: Quicksand;

  @media screen and (max-width: 1366px) {
    width: 520px;
    height: auto;
    position: relative;
    z-index: 1;
    background-color: #f8bebb;
    border-radius: 10px;
    padding: 12px;
    margin-top: -5%;
    /* margin-left: 35%; */
    letter-spacing: 0.4px;
    font-size: medium;
  }
}

.side-text {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 400px;
  font-family: Quicksand;
}

.side-title {
  font-family: Lovelace;
  font-size: xx-large;
  letter-spacing: 1px;
}

.link-p {
  color: #dc7384;
}

.link-p:hover {
  color: #dc7384;
  opacity: 70%;
  text-decoration: underline;
}
