:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #504333;
  background-color: #f7f1f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  overflow: hidden;
}

@font-face {
  font-family: "Corben"; /*Can be any text*/
  src: local("Corben-Regular"),
    url("../../fonts/Corben-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope"; /*Can be any text*/
  src: local("Manrope-Regular"),
    url("../../fonts/Manrope-Regular.ttf") format("truetype");
}

.parent {
  background-color: #f7f1f0;
  width: 100vw;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 15%);
  background-color: #f7f1f0 !important;
  animation: 200ms ease-in-out 0.2s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}
