
.about-wrapper{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    height: 100vh;
    overflow: hidden;
}

.back-arrow{
    width: 90vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
    padding: 20px;
}

.about{
    width: 100vw;
    height: 90vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    

}

.about-text{
    width: 75%;
    font-size: 22px;
margin-top: -200px;

}