.contact-wrapper{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    height: 100vh;
	width: 100vw;
    overflow: hidden;
}

.contact-cont{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    border: dashed;
    margin-top: 10%;
    width: 60%;

}

.contact-link{
	font-family: Limelight;
	width: 100%;
}