.cm-parent {
  height: 115vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  font-size: large;
  /* padding: 0px 20px; */
  font-family: system-ui;
}

.cm-title {
  font-size: xxx-large;
  font-family: ebgaramond;
  letter-spacing: 4px;
  color: #804844;
  margin-top: 14vh;
  @media screen and (max-width: 480px) {
    margin-top: 12vh;
    font-size: xx-large;
  }
}

.cm-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 40%;
  padding-top: 10px;
}

.cm-form {
  padding-top: 20px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  @media screen and (max-width: 480px) {
    width: 80vw;
  }
}

input {
  width: 100%;
  border: none;
  padding: 8px;
  font-size: large;
  font-family: system-ui;
  margin-bottom: 25px;
  @media screen and (max-width: 480px) {
    font-size: medium;
  }
}

textarea {
  width: 100%;
  border: none;
  padding: 8px;
  font-size: large;
  font-family: system-ui;
  height: 10vh;

  @media screen and (max-width: 480px) {
    font-size: medium;
  }
}

/* button {
  margin: auto;
  margin-top: 20px;
  box-shadow: 2px 2px 5px grey;
}

button:hover {
  background-color: #f8bebb;
  box-shadow: none;
} */
.cm-l {
  width: 35px;
  filter: invert(23%) sepia(41%) saturate(336%) hue-rotate(353deg)
    brightness(95%) contrast(88%);
}

.cm-l:hover {
  filter: invert(45%) sepia(77%) saturate(4167%) hue-rotate(327deg)
    brightness(111%) contrast(82%);
}
