.aboutme-parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.aboutme-title {
  font-size: xxx-large;
  font-family: ebgaramond;
  letter-spacing: 4px;
  color: #804844;
}
