.aboutme-parent {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  padding: 40px 120px;
  width: 60%;
  @media screen and (max-width: 1366px) {
    height: 80vh;
    padding: 40px 90px;
    width: 62%;
  }
  @media screen and (max-width: 360px) {
    height: 115vh;
  }
}

.aboutme-title {
  font-size: xxx-large;
  letter-spacing: 4px;
  font-family: Quicksand;
  /* color: #804844; */

  /* margin-top: 0.1vh; */
  @media screen and (max-width: 480px) {
    margin-top: 0.1vh;
    font-size: xx-large;
  }
}

.aboutme-text {
  font-size: 20px;

  font-family: Quicksand;
  color: #504333;
  @media screen and (max-width: 1366px) {
    font-size: large;
  }
  @media screen and (max-width: 480px) {
    font-size: 15px;
  }
}
