.aboutme-parent {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  padding: 40px 150px;
  width: 60%;
  @media screen and (max-width: 1366px) {
    height: 100vh;
    padding: 40px 90px;
    width: 62%;
  }
  @media screen and (max-width: 480px) {
    height: 105vh;
    padding: 40px 30px;
    width: 80%;
  }
}

.aboutme-title {
  font-size: xxx-large;
  letter-spacing: 4px;
  font-family: Quicksand;
  color: #5f401a;
  @media screen and (max-width: 480px) {
    margin-top: 0.1vh;
    font-size: 25px;
  }
}

.aboutme-text {
  font-size: 20px;

  font-family: Quicksand;
  color: #5f401a;
  @media screen and (max-width: 1366px) {
    font-size: large;
  }
  @media screen and (max-width: 480px) {
    font-size: 15px;
  }
}

#pdf {
  width: 18px;
  padding-right: 1px;
  margin-top: 2px;
  filter: invert(58%) sepia(45%) saturate(558%) hue-rotate(313deg)
    brightness(87%) contrast(92%);
}
